body{
    background-color:#65deff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    color: white;
    font-size: 5vh;
  
}
a{
    color: white;
    font-size: 40px;
    text-align: justify;
    padding: 50px;


}
body>img{
    width: 500px;


}